.user-info__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    gap: 5rem;
    color: white;
    margin-top: 3.5rem;
}

.user-info{
    height: max-content;
    padding: 4rem;
    width: 40vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.user-info__name{
    font-size: 3rem;
}

.user-info__email{
    display: flex;
    gap: 0.5rem;
    place-items: center;
    text-align: center;
}

.user-info__img{
    width: 40%;
    border-radius: 50%;
}


@media only screen and (max-width: 992px){
    .user-info__title{
        font-size: 2.5rem;
    }
    .user-info{
        height: max-content;
        width: max-content;
        padding: 2rem;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .user-info__name{
        font-size: 2rem;
        text-align: center;
    }
      
    .user-info__img{
        width: 60%;
    }
}